/* 
#abbaab
→ 
#ffffff


#d38312
→ 
#a83279*/

/* Remove the navbar's default rounded borders and increase the bottom margin */
body {
  /* background: linear-gradient(#00c9ff, #92fe9d); */
  font-family: neplus ultra;
  background-color: black;

  /* color: cyan; */
}
h2 {
  /* color: cyan; */
}
#control {
  font-family: "Luckiest Guy", cursive;
  font-size: 40px;
}
path {
  fill: transparent;
}

text {
  fill: #ff9800;
}
/* Remove the jumbotron's default bottom margin */
.jumbotron {
  background-image: url(../img/glsHeader2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  /* background: linear-gradient(#d38312, #a83279); */
  padding-top: 7.6%;
  padding-bottom: 0%;
  margin-top: 3%;
  text-align: center;

  /*border: 1px solid white;*/
}

.jumbotron p {
  padding-top: 6%;
  padding-bottom: 0%;
  text-align: center;
}

ul {
  color: cyan;
}
li {
  color: cyan;
}
a {
  color: cyan;
}

.navbar {
  color: cyan;
  margin-bottom: 1%;
  margin-top: 0%;
  border-radius: 0;
  /*border: 1px solid white;*/
}

button {
  color: rgb(249, 15, 1);
  font-family: neplus ultra;
}

.hide {
  display: none;
}

.panel-heading {
  color: cyan;
  font-size: 1.4em;
  font-weight: bold;
}
.whichTuning {
  text-align: center;
}

#yourTuning432 {
  width: 100%;
  height: 200px;
  background-color: cyan; /* Your Color */
  font-size: 2.5em;
}

#yourTuning440 {
  width: 100%;
  height: 200px;
  background-color: green; /* Your Color */
  font-size: 2.5em;
}

/* Add a gray background color and some padding to the footer */
footer {
  font-size: 1.1em;
  background-color: black;
  padding: 25px;
  color: cyan;
}
